.active {
  background: #000;
}

.container {
  font-family: Helvetica;
  margin: 0 auto;
  width: 60em;
}

.nav {
  margin: 3em 3em;
}

.nav a {
  background-color: #888;
  color: white;
  padding: 1em;
  text-decoration: none;
}

.nav li {
  display: inline;
  list-style-type: none;
}

#exercise-list {
  border: 1px solid green;
}

#new-exercise {
  border: 1px solid yellow;
}

#workout-picklist {
  border: 1px solid blue;
}
